@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.content-container {
    font-family: 'Space Grotesk', sans-serif;
    
    .header-container {
        margin-left: 80px;

        .header {
            font-size: 40px;
            font-weight: bolder;
        }
    }

    .loading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;

        .loading-text {
            font-size: 30px;
        }
    }
    
    
    .all-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

